.search-form {
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Raleway';
margin: 0;
}

.search-form button {
  width: 100%;
}

.empty-result {
  margin-top: 30px;
}

.gif-container {
  padding: 5px 0px;
  margin: 10px 0px;
  min-height: 100px;
  border: 1px solid lightgray;

}

.gif {
  width: 100%;
}

